body, html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    margin: 0;
}

header, #content, footer {
    padding: 2% 3%;
}

header {
    background-color: #F36E21;
    color: #FFF;
}

label {
    clear: left;
    float: left;
}

#content {
    border-top: 1px solid #555555;
    border-bottom: 1px solid #555555;
    margin-top: 2%;
}

.as {
    background-color: blue;
    margin: 20px;
    width: 500px;
}

div.tabPg {
    background-color: #F1f1f1;
    overflow: hidden;
    border: 1px solid #ccc;
}

div.tabPg a {
    color: black;
    font-size: 17px;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}

div.tabPg a:hover, .tabPg a:focus, .active {
    background-color: #AAAAAA;
    color: #555555 !important;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#container-login {
    max-width: 400px;
    float: left;
    border: 1px solid black;
    padding: 2px 12px 15px 15px;
}

#home-content {
    max-width: 60%;
    float: left;
    padding: 2px 12px 15px 15px;
    margin-left: 5%;
}

#clear {
    clear: both;
}

footer {

}

.entergrades {
    float: left;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    position: relative;
    margin: 5px;
	padding: 15px;
    margin: 15px;
}

.courseBoxes {
    border: black 5px solid;
    float: left;
	padding: 15px;
    margin: 10px;
}

/************************************
 *         Navigation Menu          *
 ***********************************/
#nav, #welcome:hover {
    background: #555555 !important;
    color: #FFFFFF;
}

#nav {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

#nav ul {
    margin: 0;
    padding: 0;
    overflow: initial;
}

#nav li {
    float: left;
    position: relative;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li:hover > a {
    background: #AAAAAA;
    color: #555555;
}

#nav li:hover > ul {
    display: block;
}

#nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 45px;
    left: 10px;
    background-color: #F36E21;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #555555;
}

#nav ul li {
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    box-shadow: 0 1px 0 #555555;
}

#nav ul li:last-child {
    box-shadow: none;
}

#nav ul a {
    padding: 6px;
    height: inherit;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

/*#nav ul a:hover {
    background-color: #555555;
}*/

#nav ul li:first-child a {
}

#nav ul li:first-child a:after {
    content: '';
    position: absolute;
    left: 30px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #555555;
}

#nav ul li:first-child a:hover:after {
    border-bottom-color: #555555;
}

#nav ul li:last-child a {
    border-radius: 0 0 5px 5px;
}

#nav:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/************************************
 *   System Login Form Properties   *
 ***********************************/

.form-control.log-in {
    width: 100%;
}

/************************************
 *      Course Data and Admin       *
 *         Form Properties          *
 ***********************************/
#custom_stat, #generate_report, #add_course, #upload_report, #create_account, #task_stream {
    padding: 2%; /*  */
}

/*#custom_stat .class-info form,
#generate_report .class-info form,*/
#custom_stat form,
#generate_report form,
#add_course form,
#create_account form,
#task_stream form {
    display: table;
}

/*#custom_stat .class-info input, #custom_stat select, #custom_stat label,
#generate_report .class-info input, #generate_report select, #generate_report label,*/
#custom_stat input, #custom_stat select, #custom_stat label,
#generate_report input, #generate_report select, #generate_report label,
#add_course input, #add_course select, #add_course label,
#create_account label,
#task_stream input, #task_stream select, #task_stream label {
    display: table-cell;
    margin: 3px;
}

/*#custom_stat .class-info label,
#generate_report .class-info label,*/
#custom_stat label,
#generate_report label,
#add_course label,
#create_account label,
#task_stream label {
    text-align: left; /* Keep the label tags aligned to the left */
    /*padding-right: 20px; /* Add more spacing between label tags and select/input/textarea tags*/ /**/
}

#add_course label,
#create_account label {
    padding-right: 20px; /* Add more spacing between label tags and select/input/textarea tags*/
}

/*#custom_stat .class-info p,
#generate_report .class-info p,*/
#custom_stat p,
#generate_report p,
#add_course p,
#create_account p,
#task_stream p {
    display: table-row; /* Align items within specified p tags*/
}

#custom_stat button,
#generate_report button,
#add_course button,
#create_account button,
#task_stream button {
    margin-top: 20px;
}

#generate_report button {
    margin-right: 15px;
}

#custom_stat .class-info h4,
#generate_report .class-info h4 {
    margin-bottom: 20px; /* Add more spacing between the h4 tag and form items */
}

.textarea-label {
    vertical-align: middle; /* Center align the label tag with textarea tag */
}

#add_course textarea {
    width: 172px; /* Right align textarea tag with input (and select) tag(s) */
    margin-left: 3px; /* Left align textarea tag with input (and select) tag(s) */
}

/************************************
 * Logo and welcome text properties *
 ***********************************/

.logo, #welcome {
    color: #FFFFFF !important;
}

#welcome {
    font-weight: bold;
}